In [1]:
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [2]:
browser = webdriver.Chrome()
browser.get('https://kinrou.sas-cloud.jp/kinrou/kojin/')

In [3]:
elem_com = browser.find_element_by_id('houjin_code')
elem_com.send_keys('10338')
elem_worker = browser.find_element_by_id('user_id')
elem_worker.send_keys('0000014647')
elem_pass = browser.find_element_by_id('password')
elem_pass.send_keys('kino@0120')
elem_btn = browser.find_element_by_id('bt')
elem_btn.click()

In [4]:
from selenium.webdriver.support.ui import Select
select_month_element = browser.find_element_by_name('selectedMonth')
select_year_element = browser.find_element_by_name('selectedYear')
select_month_element = Select(select_month_element)
select_year_element.clear()
select_year_element.send_keys('2020')
select_month_element.select_by_value('01')
elem_btn = browser.find_element_by_name('changeGetudo')
elem_btn.click()

In [5]:
elem_btn2 = browser.find_elements_by_id('popover')
elem_btn2[1].click()

In [6]:
work_time_table = browser.find_element_by_id('id_data_table_body')

In [7]:
table_row = work_time_table.find_elements_by_class_name('cell_height_size')

In [8]:
df1 = []
for row in table_row:
    row_items = row.find_elements_by_tag_name('td')
    row_items_text = [item.text for item in row_items]
    df1.append(row_items_text)
df1 =  pd.DataFrame(df1)

In [9]:
TrueCol = [23,24,25,27]
df1 = df1.iloc[:,TrueCol]
df1.columns = ['残業時間', '深夜時間', '休日出勤', '基本時間']

In [10]:
df2 = []
targets = ['_1_47', '_1_48', '_2_59']
for index, row in enumerate(table_row):
    row_items = [row.find_elements_by_name('dataList[{}].column{}'.format(index,target)) for target in targets]
    row_items_text = [item[0].get_attribute("value") for item in row_items]
    df2.append(row_items_text)
df2 = pd.DataFrame(df2)

In [11]:
df2.columns = ['作業開始', '作業終了', '休憩時間']

In [12]:
df_time = pd.concat([df2, df1], axis=1)
df_time = df_time.loc[:,['作業開始','作業終了','休憩時間','基本時間','残業時間','深夜時間','休日出勤']]

In [13]:
date_table = browser.find_element_by_id('id_hidari_kotei_body')
date_table_row = date_table.find_elements_by_class_name('cell_height_size')
df3 = []
for num, row in enumerate(date_table_row):
    row_items = row.find_elements_by_tag_name('td')
    row_items_text = [item.text for item in row_items]
    df3.append(row_items_text)
#     target = date_table_row[num]
#     actions = ActionChains(browser)
#     actions.move_to_element(target)
#     actions.perform()
df3 =  pd.DataFrame(df3)

#途中までしか拾えないので、一番下までスクロールしてからもう一度データを収拾する
browser.find_element_by_tag_name('body').send_keys(Keys.END)

date_table_row = date_table.find_elements_by_class_name('cell_height_size')
df4 = []
for num, row in enumerate(date_table_row):
    row_items = row.find_elements_by_tag_name('td')
    row_items_text = [item.text for item in row_items]
    df4.append(row_items_text)
df4 =  pd.DataFrame(df4)

df_date = pd.concat([df3.iloc[:15], df4.iloc[15:]])
print(df_date)
browser.close()

    0 1       2      3  4         5 6         7
0                01/01  水        休日          休日
1                01/02  木     会社指定休       会社指定休
2                01/03  金     会社指定休       会社指定休
3                01/04  土        休日          休日
4                01/05  日        休日          休日
5   自    702417  01/06  月  ｵﾌｨｽ（業務）    09001745
6   自    702417  01/07  火  ｵﾌｨｽ（業務）    09001745
7   自    702417  01/08  水  ｵﾌｨｽ（業務）    09001745
8   自    702417  01/09  木  ｵﾌｨｽ（業務）    09001745
9   自    702417  01/10  金  ｵﾌｨｽ（業務）    09001745
10               01/11  土        休日          休日
11               01/12  日        休日          休日
12               01/13  月        休日          休日
13  自    716316  01/14  火  ｵﾌｨｽ（業務）    09001745
14  自    716316  01/15  水  ｵﾌｨｽ（業務）    09001745
15  自    716316  01/16  木  ｵﾌｨｽ（業務）    09001745
16  自    716316  01/17  金  ｵﾌｨｽ（業務）    09001745
17  自    716316  01/18  土  ｵﾌｨｽ（業務）    09001745
18               01/19  日        休日          休日
19  自    716316  01/20  月  ｵﾌｨｽ（業務）    09001745
20  自    716316  01/21  火  ｵﾌｨｽ（業務）    09001745
21  自    716316  01/22  水  ｵﾌｨｽ（業務）    09001745
22  自    716316  01/23  木  ｵﾌｨｽ（業務）    09001745
23  自    716316  01/24  金  ｵﾌｨｽ（業務）    09001745
24               01/25  土        休日          休日
25               01/26  日        休日          休日
26  自    727090  01/27  月  ｵﾌｨｽ（業務）    09001745
27  自    727090  01/28  火  ｵﾌｨｽ（業務）    09001745
28  自    727090  01/29  水  ｵﾌｨｽ（業務）    09001745
29  自    727090  01/30  木  ｵﾌｨｽ（業務）    09001745
30  自    727090  01/31  金  ｵﾌｨｽ（業務）    09001745

In [14]:
df_date = df_date.iloc[:, [3,4]]
df_date.columns = ['日', '曜']
print(df_date)

        日  曜
0   01/01  水
1   01/02  木
2   01/03  金
3   01/04  土
4   01/05  日
5   01/06  月
6   01/07  火
7   01/08  水
8   01/09  木
9   01/10  金
10  01/11  土
11  01/12  日
12  01/13  月
13  01/14  火
14  01/15  水
15  01/16  木
16  01/17  金
17  01/18  土
18  01/19  日
19  01/20  月
20  01/21  火
21  01/22  水
22  01/23  木
23  01/24  金
24  01/25  土
25  01/26  日
26  01/27  月
27  01/28  火
28  01/29  水
29  01/30  木
30  01/31  金

In [15]:
#df_date.iloc[:,0]　= [for i.split('月')[1] in df_date.iloc[:,1]]
#df_date['日']=[i.split('/')[1] for i in df_date['日']]

In [17]:
df_all = pd.concat([df_date, df_time], axis = 1)
df_all.to_csv('業務日報_data.csv',encoding='utf-8-sig')